/*****************************************************************************
This is a big file, search for the following sections:

- Main content
- Navigation
-- Column
-- Profile
-- Section
*****************************************************************************/

body {
    background-color: #e7fafe;
    /*background-image: url("../images/fabric-wallpaper.png");*/
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    letter-spacing: 0.4px;
    word-spacing: 1.5px;
    margin: 0 0 0 0;
}

/*********************
**** Main content ****
*********************/
#main-content{
  background: #fafafa;
}

@media (min-width: 1250px) {
  #main-content{
    width: 850px;
    height: 100%;
    margin-left: calc(-220px + 42vw);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    padding: 1px 40px 40px 40px;
  }
}

@media (min-width: 731px) and (max-width:1249px) {
  #main-content{
    width: 700px;
    height: 100%;
    margin: auto;
    padding: 1px 40px 40px 40px;
  }
}

@media (max-width: 730px) {
  #main-content{
    padding: 0px 40px
  }
}

p {
  text-indent: 20px;
  font-size: 22px;
}

/*******************
**** Navigation ****
********************/

/* Column */
.navigation-column{
  background: #fafafa;
}

@media (min-width: 1250px) {
  .navigation-column{
    position: fixed;
    width: 260px;
    height: 100vh;
    position: fixed;
    margin-left: calc(-480px + 40vw);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
  }
}

@media (min-width: 731px) and (max-width:1249px) {
  .navigation-column{
    width: 700px;
    height: 200px;
    margin: -30px auto 0px auto;
    padding: 1px 40px 40px 40px;
    position: relative;
    padding-top: 110px;
  }
}

@media (max-width: 730px) {
  .navigation-column{
    padding: 40px 40px 10px 40px;
  }
}

/* Section */

#sections{
  background: white;
}

.nav-ul{
  list-style-type: none;
  padding-inline-start: 0px;
}

.navigation-column .nav-link{
    text-decoration: none;
    color: #0CABCC;
    font-size: 24px;
}

.nav-item:hover{
  background-color: #0CABCC;
}
.nav-link:hover{
  color: white;
}

@media (min-width: 1250px) {
  #sections{
    width: 200px;
    margin: 30px auto;
  }

  .nav-link{
    display:inline-block;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 20px;
    width:100%;
  }

}

@media (min-width: 731px) and (max-width:1249px) {
  .nav-ul{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .nav-item{
    float: left;
    padding: 5px 20px 5px 20px;
  }

  .nav-ul{
    padding-right: 40px;
  }
}

@media (max-width: 731px) {
  .nav-link{
    text-align: center;
    display: block;
  }
}

/* Profile */

#navigation-column-myPhoto{
  background: url('../images/AMG-200.png') no-repeat;
  height: 200px;
  width: 200px;
}

#name{
  text-align: center;
  font-weight: bold;
  color: black;

}

#titles{
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

@media(min-width: 1250px){
  #navigation-column-myPhoto{
    margin: 60px auto 20px auto;
  }
  #name{
    font-size: 20px;
  }
  #titles{
    font-size: 18px;
  }
}

@media(min-width: 731px) and (max-width:1249px){
  #navigation-column-myPhoto{
    position: absolute;
    top:60px;
    left:80px;
  }

  #name{
    margin-left: 300px;
    font-size: 30px;
  }

  #titles{
    margin-left: 300px;
    font-size: 22px;
  }
}

@media (max-width: 730px) {
  #navigation-column-myPhoto{
    position: relative;
    margin: 0px auto 20px auto;
  }
}

/* Publications */
.Publications-content{
}

div.publication{
  padding-top: 15px;
}

div.Publication-text{
  margin: auto;
  margin-top: 20px;
}

.Publication-title{
  font-weight: bold;
}

div .Publication-text .Publication-authors{
  font-style: italic;
  font-size: 20px;
}

div .Publication-text .Publication-journal{
  color: grey;
}

div.Publication-image{
    font-weight: bold;
}

div.Publication-image img{
  width: 230px;
  height: auto;
}

.btn-group .button {
    background-color: #0CABCC;
    border: 1px solid black;
    color: white;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 1em;
}
.btn-group .button:hover {
    background-color: #E50039;
}

@media (min-width: 1250px) {
  div.publication{
    overflow: auto;
  }

  div.Publication-text{
    float: left;
  }

  div.Publication-image img{
    float: left;
    margin: 0px 30px 0px 15px;
  }

  .btn-group .button {
    text-align: center;
    display: block;
    cursor: pointer;
    float: left;
    margin-top: 10px;
  }
}

@media (min-width: 731px) and (max-width:1249px) {
  div.Publication-image{
    text-align: center;
  }
  .Publication-title{
    text-align: center;
  }
  div .Publication-text .Publication-authors{
    text-align: center;
  }
  div .Publication-text .Publication-journal{
    text-align: center;
  }
  .btn-group{
    margin-top: 15px;
    text-align: center;
  }
}

@media (max-width:730px) {
  div.Publication-image{
    text-align: center;
  }
  .Publication-title{
    text-align: center;
  }
  div .Publication-text .Publication-authors{
    text-align: center;
  }
  div .Publication-text .Publication-journal{
    text-align: center;
  }
  .btn-group{
    margin-top: 15px;
    text-align: center;
  }
}

/* Home content */
.content{
  padding-top: 30px;
  padding-bottom: 40px;
}


/* myHeader */
.myHeader{
  font-size: 30px;
  text-align: center;
  padding: 10px 0px 10px 0px;
  border-top: 2px solid #0CABCC;
  border-bottom: 2px solid #0CABCC;
  margin-bottom: 20px;
}

#horizontal-line{
    border-top: 1px solid #0CABCC;
    margin: 15px 0px 15px 0px;
    padding: 0px;
}

/* links */
a:link, a:visited{
  text-decoration: none;
  color: #0CABCC;
}

a:active{

}

a:hover{
  color: #E50039;
}
