@viewport {
    width: device-width;
    zoom: 1.0;
}

body {
    max-width: 60rem;
    margin: auto;
    padding: 2rem;

    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
	
    background-image: url("images/background.jpg");
	background-color: #ffffff;
	background-image: url("images/fabric-wallpaper.png");
}

h1 {
    color: rgb(231, 60, 126);
    margin-bottom: 0;
    font-size: 2.5em;
}

h2 {
    font-weight: 500;
    color: rgb(40, 30, 200);
	font-size: 2.0em;
	text-align: center;
	margin-top: 80px;
}

h3 {
	font-weight: 300;
    color: rgba(13,139,67,1.00);
	font-size: 1.5em;
	margin-bottom: 15px;
	text-align: center;
	
	text-decoration-line: underline;
	text-decoration-style: solid;
}

a {
    color: rgba(219,84,4,1.00);
    text-decoration: none;
} 


table, table tr {
	font-size: 15px;
	vertical-align: top;
	border: none;
	line-height: 20px;
}

.myphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 240px;
  width: 100%;
  border-radius: 25px;
}

.paper-img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-width: 100%;
	max-height: 35%;
}

.entry-img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-width: 100%;
	max-height: 35%;
}

.entry-title{
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	
	margin-left: 25px;
  	margin-right: auto;
	text-align: left;
	
}

.entry-body{
	display: block;
	font-size: 1.2em;
	
	margin-left: 25px;
  	margin-right: auto;
	text-align: left;
}

.email{
	display: block;
	font-size: 1.2em;
	color: darkblue;
	
	max-width: 90%;
	margin-left: auto;
  	margin-right: auto;
	text-align: left;
}

.entry-authors{
	display: block;
	font-size: 1.0em;
	font-style: italic;
	
	margin-left: 25px;
  	margin-right: auto;
	text-align: left;
}

.entry-foot{
	display: block;
	font-size: 0.9em;
	font-weight: lighter;
	
	margin-left: 25px;
  	margin-right: auto;
	text-align: left;
}

.btn-group .button {
  background-color: #0CABCC;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  display: block;
  font-size: 1em;
  cursor: pointer;
  float: left;
}

.btn-group .button:hover {
  background-color: #E50039;
}

.icons-group{
	text-align: center;
}

.icons{
	margin: 0 20px;
	font-size: 3em;
	color: #0CABCC;
	display: inline-block;
}

.icons:hover{
	color: #E50039;
}

.post-thumb {
    float:left;
	
}
@media only screen and (max-width: 600px) {
	.post-thumb{
	width: 100%;
	}
}
@media only screen and (min-width: 600px) {
	.post-thumb{
	width: 30%;
	}
}

.post-thumb img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 25px;
}
.post-content {
	text-align: justify;
}

.post-container{
	display: block;
}
